#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
url --url=$tree
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens32 --onboot=off --ipv6=auto --no-activate

network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$hx6WT93y89Nam09B$ZrLWHSNPwkBc1m/gZHXEJfTC0ue9zbivZk1DFSzA7w/7rpXoOWoTC.HmfUm6sh0Zz4v9ffP8yYqHT/cf0UHS/.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

mkdir /root/k8s/selinux
cat <<EOF > /root/k8s/selinux/config
SELINUX=disabled
SELINUXTYPE=targeted 
EOF 
ansible all -m copy -a 'src=/root/k8s/selinux/config dest=/etc/selinux/config owner=root group=root mode=0644'

ansible all -m shell -a 'setenfoce 0'

ansible all –m service –a 'name=firewalld state=stopped enabled=no'


ansible all -m yum -a 'name=chrony state=installed'


